main{
  flex: 1;
}

main ul{
  display: grid;
  grid-template-columns: repeat(2,1fr);/* Deixa para repetir a grid 2 elementos por linha */
  gap: 20px; /* Distancia entre elementos da grid */
  list-style: none;
}

@media (max-width:650px){
  main ul{
    grid-template-columns: 1fr;
  }
}